# Builds
/target
/dist

# Packaging
/bindings/node/node_modules
/bindings/python/.venv

# Generated bindings
/bindings/node/index.node
/bindings/node/*.node
/bindings/node/index.d.ts
/bindings/python/dist/

# Caches
/bindings/python/.pytest_cache
__pycache__